/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

 /* .home,
.customer,
.supplier 
{
  display: flex; */
  /* height: 90vh; */
  /* align-items: center;
  justify-content: center; */
  /* font-size: 3rem; */
/* }  */
/* .table{
  justify-content: center;
  align-items: center;
  width: 65%; */
  /* margin-left: 255px; */
/* } */
/* th, td {
  text-align: center;
  padding: 8px;
} */

/* tr:nth-child(even){background-color: #f2f2f2} */

/* thead {
  background-color: green;
  color: #f2f2f2;
} */
/* form {
  border-radius: 5px;
  background-color: #f2f2f2;
  width: 50%;
  justify-content: center;
  margin-left: 10%;
} */
/* .random-class{
  border-radius: 5px;
  background-color: #f2f2f2;
  width: 50%;
  justify-content: center;
  margin-left: 25%;
} */
/* button{
  justify-content: center;
margin-left: 25%;
} */