
      p,h2,h1 {
        text-align: center;
        margin-top: 10px;
        color:mediumblue
    }

    input[type=number]
     {
        width: 40%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;

    }


div{
border-radius: 5px;
/* background-color: #f2f2f28e; */
background-color:khaki;
width: 50%;
height: 20%;
margin-left: 25%;
margin-top: 50px;
border-color: blue;
}