.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(218, 41%, 35%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
        hsl(218, 41%, 45%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%);
  }

  #radius-shape-1 {
    height: 220px;
    width: 220px;
    top: -60px;
    left: -130px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
  }

  #radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
  }

  .bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
  }

  .shadow-lg:hover{
    transform: scale(1.05);
    transition-duration: 0.5s;
    border: none;
}
.card{
  border: none;
}
.card img{
  margin-top: 1rem;
  width: 180px;
  height: 190px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.card_cust button:hover{
  border: none;
  transform: scale(0.9);
  background-color: antiquewhite !important;
  font-weight: 600;
}
.Custom_Btn{
  border: 1px lavender;
  border: 1px solid #eadcdc!important;
}
.card.mb-3.border-1.Custom_Btn {
  transform: scale(0.9);
}
.custom_badge{
  top: 0.5rem !important;
}
nav{
   height: 5rem;
   background: #000000d9 transparent !important;
}
.btn_proceedtobuy{
  display: grid;
  align-content: center;
  margin-left: 4rem;
}